{
  "presets": ["@babel/preset-env", "@babel/preset-typescript", "@babel/react", "es2015"],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": false
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": "less"
      },
      "antd"
    ],
  ],
  "sourceMaps": true
}
