.page-container {
  height: calc(100vh - 56px);
  background-color: #353944;
  display: flex;
  justify-content: center;
  padding: 12px;
  .template-resume {
    width: 794px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 1px rgb(0 0 0 / 15%);
  }
}
